{{$lang := .Lang}}
{{ if isset .Params "lang" }}
	{{$lang = .Params.lang}}
{{end}}
<!DOCTYPE html>
<html lang="{{$lang}}">
    <head>
		<meta charset="utf-8">
		<title>
		{{ block "title" . }}
			{{ .Site.Title }}
		{{ end }}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{{ $style := resources.Get "css/style.css" }}
		<link type="text/css" rel="stylesheet" href="{{ $style.Permalink }}">
		
		{{ $nav := resources.Get "css/navigation.css" | toCSS | minify | fingerprint }}
		<link type="text/css" rel="stylesheet" href="{{ $nav.Permalink }}">

		{{ block "links" . }} {{ end }}
	</head>
    <body>
        <div class="container">
          <a href="{{ "" | absURL }}"><span id="header-image"></span></a>
        </div>
        {{- partial "navigation.html" . -}}
        <div id="content" >
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
