{{ define "title" }}
  {{ .Title }} ⚡ 
{{ end }}
{{ define "main" }}
  <div class="container">
    <h1>{{ i18n "downloads-heading" }}</h1>
    <p>{{ i18n "downloads-install-from-pkg-manager" | safeHTML }}</p>
    <p>{{ i18n "downloads-json" | safeHTML }}</p>
    <p>{{ i18n "downloads-minisig" | safeHTML }}</p>
    <pre><code>RWSGOq2NVecA2UPNdBUZykf1CCb147pkmdtYxgb3Ti+JO/wCYvhbAb/U</code></pre>

    <div>
      {{ range $release_name := $.Site.Params.downloads_release_order }}
        {{ $release := index $.Site.Data.releases $release_name }}
        <h2 id="release-{{$release_name}}">{{$release_name}}</h2>

        <ul>
          <li>{{ index $release "date" }}</li>
          {{ if isset $release "notes"}}
          <li>{{ i18n "download-release-notes" (index $release "notes") | safeHTML }}</li>
          {{ end }}
          <li>{{ i18n "download-documentation" (index $release "docs") | safeHTML }}</li>
          {{ if isset $release "stdDocs"}}
          <li>{{ i18n "download-stdlib-docs" (index $release "stdDocs") | safeHTML }}</li>
          {{ end }}
        </ul>

        <table>
          <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="40%">
            <col width="10%">
          </colgroup>
          <thead>
            <tr>
              <th>{{ i18n "download-os" }}</th>
              <th>{{ i18n "download-arch" }}</th>
              <th>{{ i18n "download-filename" }}</th>
              <th>{{ i18n "download-sig" }}</th>
              <th>{{ i18n "download-size" }}</th>
            </tr>
          </thead>
          <tbody>
            {{ range $section_name := $.Site.Params.download_section_order }}
            {{ $section := index $.Site.Params.download_section $section_name }}
              {{ $rows := slice }}
              {{ range $row_index, $row_name := $section.rows }}
                {{ $target_name := printf "%s%s" $row_name $section.release_suffix }}
                {{ with index $release $target_name }}
                  {{ $rows = $rows | append $row_name }}
                {{ end }}
              {{ end }}

              {{ range $row_index, $row_name := $rows }}
              <tr>
                {{ $td_class := "" }}
                {{ if eq $row_index (sub (len $rows) 1) }}
                  {{ $td_class = "last-row-in-section" }}
                {{ end }}
                {{ if eq $row_index 0 }}
                  {{ if eq $section_name "src" }}
                    <th class="{{$td_class}}" style="text-align:center" colspan="2" rowspan="{{ len $rows }}">
                      {{ i18n $section.title }}
                    </th>
                  {{ else }}
                    <th rowspan="{{ len $rows }}">{{ $section.title }}</th>
                  {{ end }}
                {{ end }}
                {{ $arch := $row_name }}
                {{ if eq $section_name "src" }}
                  {{ $arch = "" }}
                {{ end }}

                {{ $target_name := printf "%s%s" $row_name $section.release_suffix }}
                {{ with index $release $target_name}}
                  {{ if ne $section_name "src" }}
                    <td class="{{$td_class}}">{{ $arch }}</td>
                  {{ end }}
                  <td class="{{$td_class}}"><a href="{{ index . "tarball"}}">{{ path.Base (index . "tarball")}}</a></td>
                  <td class="{{$td_class}}"><a href="{{ index . "tarball"}}.minisig">minisig</a></td>
                  <td class="{{$td_class}}">{{ lang.NumFmt 1 (div (int (index . "size")) 1048576.0)}}MiB</td>
                {{ end }}
              </tr>
              {{ end }}
            {{ end }}
          </tbody>
        </table>
      {{ end }}
    </div>
  </div>
{{ end }}
