{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
	<div class="container parent-link" style="display:flex; flex-direction: row; justify-content: space-between;">
		<a href="{{.Parent.Permalink}}" class="parent-link">
		{{ if eq .CurrentSection .Site.Home}}
			{{ i18n "back-to-home" | safeHTML }}
		{{ else }}
			{{ if eq .CurrentSection.Page .Page }}
				{{ i18n "back-to-home" | safeHTML }}
			{{ else }}
				{{ i18n "back-to-parent" .CurrentSection.Title | safeHTML }}
			{{ end }}
		{{ end }}
		</a>
		{{ if ne .Lang "en"}}
			<a href="https://github.com/ziglang/www.ziglang.org/" class="external-link no-mobile" target="_blank" rel="noopener">
			This translation has been contributed by the Zig community
			</a>
		{{ end }}
	</div>
	<div class="container">
		{{ if .Params.toc }}
			<h1>{{ .Title }}</h1>
			{{ .TableOfContents }}
		{{ end }}
		{{ .Content }}
	</div>
{{ end }}