<style type="text/css">
  .monetary-logos {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 50px;
    justify-content: center;
    align-items: center;

  }
  .monetary-logos img {
    object-fit: contain;
  }

  .monetary-logos img {
    max-width: 320px;
    max-height: 320px;
  }

  .monetary-logos .span2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .monetary-logos .span2 img {
    max-width: 580px;
    max-width: 580px;
  }

  .monetary-logos picture {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  @media only screen and (max-width: 1000px) {
    .monetary-logos {
      display: flex;
      flex-direction: column;
    }

    .monetary-logos img {
      max-width: 100%;
      height: 50px;
    }
    .monetary-logos .span2 img {
      max-width: 100%;
    }
  }
</style>
<div class="monetary-logos">
   <a href="https://pex.com" rel="noopener nofollow" target="_blank">
   <picture>
     <source srcset="/pex-white.svg" media="(prefers-color-scheme: dark)">
     <img src="/pex-dark.svg">
   </picture>
 </a> 
 <a href="https://coil.com" rel="noopener nofollow" target="_blank">
   <picture>
     <source srcset="/coil-logo-white.svg" media="(prefers-color-scheme: dark)">
     <img src="/coil-logo-black.svg">
   </picture>
 </a>
  <a href="https://tigerbeetle.com" rel="noopener nofollow" target="_blank" class="span2">
   <picture>
     <source srcset="/tb-logo-white.png" media="(prefers-color-scheme: dark)">
     <img src="/tb-logo-black.png">
   </picture>
 </a>
 <a href="https://shiguredo.jp" rel="noopener nofollow" target="_blank">
   <picture>
     <source srcset="/shiguredo-logo-dark.svg" media="(prefers-color-scheme: dark)">
     <img src="/shiguredo-logo-light.svg">
   </picture>
 </a>
 <a href="https://blacksmith.sh/" rel="noopener nofollow" target="_blank">
   <picture>
     <source srcset="/Blacksmith_Logo-White.svg" media="(prefers-color-scheme: dark)">
     <img src="/Blacksmith_Logo-Black.svg">
   </picture>
 </a>
</div>
