{{ $version := index $.Site.Params.downloads_release_order 1 }}
{{ $lang := default "en" (.Get "lang") }}
<div class="slogan alt-background">
    <div class="container slogan-message">
        <div style="max-width: 790px; margin: 10px 0;padding: 0 5px;">
            {{ .Inner | markdownify }}
        </div>
        <div class="cta-buttons">
             <a href="{{ ref . (dict "path" "learn/getting-started.md" "lang" $lang) }}" class="button main" style="margin-bottom: 5px;">{{ .Get "get_started" }}</a>
             <span class="slogan-separator" style= "font-size: 0.5em;"> {{ i18n "slogan-latest-release" $version | safeHTML }} </span>
             <div style="display:flex; flex-direction: row; margin-top: 5px;">
                 <a href="https://ziglang.org/documentation/{{ $version }}/" class="button" style="flex-grow: 1; margin-top: 0px;">{{ .Get "docs" }}</a>
                 <a href="https://ziglang.org/download/{{ $version }}/release-notes.html" class="button" style="margin-left:5px; margin-top: 0px;">{{ .Get "notes" }}</a>
             </div>
        </div>
    </div>
</div>
