<div id="every-donate-btn">
  <a href="https://www.every.org/zig-software-foundation-inc?utm_campaign=zsf_homepage#/donate">Donate</a>
  <script async defer src="https://embeds.every.org/0.4/button.js?explicit=1" id="every-donate-btn-js"></script>
  <script>
    function createWidget() {
      everyDotOrgDonateButton.createButton({
        selector: "#every-donate-btn",
      });
      everyDotOrgDonateButton.createWidget({
        selector: "#every-donate-btn",
        nonprofitSlug: "zig-software-foundation-inc",
        defaultDonationAmount: 10,
        defaultFrequency: 'monthly'
      });
    }
    if (window.everyDotOrgDonateButton) {
      createWidget();
    } else {
      document.getElementById("every-donate-btn-js").onload = createWidget;
    }
  </script>
</div>

