<div id="zsf-every-donate-btn">
  <a href="https://www.every.org/zig-software-foundation-inc?utm_campaign=zsf_homepage#/donate">Donate</a>
  <script>
    function zsfCreateWidget() {
      everyDotOrgDonateButton.createButton({
        selector: "#zsf-every-donate-btn",
      });
      everyDotOrgDonateButton.createWidget({
        selector: "#zsf-every-donate-btn",
        nonprofitSlug: "zig-software-foundation-inc",
        defaultDonationAmount: 10,
        defaultFrequency: 'monthly'
      });
    }
    if (window.everyDotOrgDonateButton) {
      zsfCreateWidget();
    } else {
      document.getElementById("every-donate-btn-js").addEventListener('load', zsfCreateWidget);
    }
  </script>
</div>

