<div id="zsf-every-donate-btn">
  <a href="https://www.every.org/zig-software-foundation-inc?utm_campaign=zsf_homepage#/donate">Donate</a>

  <script async defer src="https://embeds.every.org/0.4/button.js?explicit=1" id="every-donate-btn-js"></script>
  <script>
    function zsfCreateWidget() {
      everyDotOrgDonateButton.createButton({
        selector: "#zsf-every-donate-btn",
        nonprofitSlug: "zig-software-foundation-inc",
        fontSize: "32px",
        label: "Sponsor"
      });
      everyDotOrgDonateButton.createWidget({
        selector: "#zsf-every-donate-btn",
        nonprofitSlug: "zig-software-foundation-inc",
        defaultDonationAmount: 10,
        defaultFrequency: 'monthly'
      });
      // Workaround for https://github.com/everydotorg/donate-button/issues/384
      let style = document.createElement('style');
      style.innerHTML = '#donation-input { color: black; } #privateNote { color: black }';
      document.getElementById("shadow-wrapper").shadowRoot.appendChild(style);
    }
    if (window.everyDotOrgDonateButton) {
      zsfCreateWidget();
    } else {
      document.getElementById("every-donate-btn-js").addEventListener('load', zsfCreateWidget);
    }
  </script>
</div>

