<div class="container" style="text-align: center; padding-top: 2em;">
  <small><em>Code samples are MIT licensed, sponsor logos belong to their respective owners, everything else is <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="external-link">CC BY-SA</a><em></small>
</div>

<script type="text/javascript" >
  function openTranslations() {
    if (document.getElementById("translations").style.display == "block") {
      document.getElementById("translations").style.display = "none";
    } else {
      document.getElementById("translations").style.display = "block";
    }
  }
</script>