<nav id="mobile-navbar" class="nav container">
     <span style="overflow:hidden; max-width: 80%; display: inline-block; vertical-align:bottom;"> 
       {{ .Params.mobile_menu_title }} 
     </span>
  <label for="mobile-toggle" id="hamburger">
    <svg style="width:2em;height:2em;" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
    </svg>
  </label>
</nav>
<div id="mobile-subnav">
  <input type="checkbox" name="mobile-toggle" id="mobile-toggle">
  <div class="" id="menu">
    {{ with .Site.GetPage "download"}}
      <a href="{{ "download/" | relLangURL }}" class="navbar-item">{{ .Params.mobile_menu_title }}</a>
    {{ end }}
    {{ with .Site.GetPage "learn"}}
      <a href="{{ "learn/" | relLangURL }}" class="navbar-item">{{ .Params.mobile_menu_title }}</a>
    {{ end }}
    {{ with .Site.GetPage "news"}}
      <a href="{{ "news/" | relLangURL }}" class="navbar-item">{{ .Params.mobile_menu_title }}</a>
    {{ end }}
    <a href="https://github.com/ziglang/zig" class="navbar-item external-link external-link-light">{{ i18n "menu-source" }}</a>
    <a href="https://github.com/ziglang/zig/wiki/Community" class="navbar-item external-link external-link-light">{{ i18n "menu-community" }}</a>
    {{ with .Site.GetPage "zsf"}}
      <a href="{{ "zsf/" | relLangURL }}" class="navbar-item">
        <img src="{{ "heart.svg" | absURL }}" style="vertical-align:middle; margin-right: 5px">{{ .Params.mobile_menu_title }}</a>
    {{ end }}
  </div>
</div>

<nav id="navbar" class="nav">
  <div class="container" style="display:flex; justify-content: space-between;">
    <div>
      {{ with .Site.GetPage "download"}}
        <a href="{{ "download/" | relLangURL }}" class="navbar-item">{{ .Params.menu_title }}</a>
      {{ end }} 
      {{ with .Site.GetPage "learn"}}
        <a href="{{ "learn/" | relLangURL }}" class="navbar-item">{{ .Params.menu_title }}</a>
      {{ end }} 
      {{ with .Site.GetPage "news"}}
        <a href="{{ "news/" | relLangURL }}" class="navbar-item">{{ .Params.menu_title }}</a>
      {{ end }} 
      <a href="https://github.com/ziglang/zig" class="navbar-item external-link external-link-light">{{ i18n "menu-source" }}</a> 
      <a href="https://github.com/ziglang/zig/wiki/Community" class="navbar-item external-link external-link-light">{{ i18n "menu-community" }}</a> 
      {{ with .Site.GetPage "zsf"}}
        <a href="{{ "zsf/" | relLangURL }}" class="navbar-item" style="">
          <img src="{{ "heart.svg" | absURL }}" style="vertical-align:middle; margin-inline-end: 5px">{{ .Params.menu_title }}
        </a>
      {{ end }}
    </div>
  </div>
</nav>


<style>
  .fundraiser {
    color: white;
    background-color: black;
    padding: 5px 10px;
    padding-left: 10px;
    font-size: 1.3em;
    text-align:center;
  }
  .progress {
  }

  @media (prefers-color-scheme:dark) {
    .fundraiser {
      color: black;
      background-color: white;
    }

    .fundraiser a {
      text-decoration: underline;
    }
  }
</style>
<div class="fundraiser">
  <div class="container">
    <div style="display:flex;align-items:center;justify-content:space-between;gap:15px;">
      <div>
        <div style="display:flex;align-items:center;"><b>ZSF Needs Money!</b>
          <div id="every-donate-btn-nav" style="margin-left: 5px;">
            <a href="https://www.every.org/zig-software-foundation-inc?utm_campaign=2024_financials#/donate">Donate</a>
            <script async defer src="https://embeds.every.org/0.4/button.js?explicit=1" id="every-donate-btn-js-nav"></script>
            <script>
              function createWidgetNav() {
                everyDotOrgDonateButton.createButton({
                  selector: "#every-donate-btn-nav",
                });
                everyDotOrgDonateButton.createWidgetNav({
                  selector: "#every-donate-btn-nav",
                  nonprofitSlug: "zig-software-foundation-inc",
                  fundraiserSlug: "help-zig-stay-indepe",
                  defaultDonationAmount: 10,
                  defaultFrequency: 'monthly'
                });
              }
              if (window.everyDotOrgDonateButton) {
                createWidgetNav();
              } else {
                document.getElementById("every-donate-btn-js-nav").onload = createWidgetNav;
              }
            </script>
          </div>
        </div> 
      </div>
      <div>
      <a href="/news/2024-financials/">Announcing Our 2024 Fundraiser</a> 
       <span id="progress"></span>
        <script>
           fetch("https://partners.every.org/v0.2/nonprofit/zig-software-foundation-inc/fundraiser/help-zig-stay-indepe/raised?apiKey=pk_live_bfe7cb0be9f5f91b98be1ac89bc3150f").then((res) => {
              if (res.ok) {
                res.json().then((data) => {
                  document.getElementById("progress").textContent = "("+ data.supporters +"/1000)";
                })
              }
          })
        </script>
      </div>
      <div>
         Zig 2024 Roadmap 
      </div>
    </div>
  </div>
</div> 

<div class="nav-spacer"></div>
