<nav id="mobile-navbar" class="nav">
  {{ with .Site.GetPage "download"}}
    <a href="{{ "download/" | relLangURL }}" class="navbar-item">{{ .Params.mobile_menu_title }}</a>
  {{ end }}
  <label for="mobile-toggle" id="hamburger">
    <svg style="width:2em;height:2em;" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
    </svg>
  </label>
  <input type="checkbox" name="mobile-toggle" id="mobile-toggle">
  <div class="container" id="menu">
    {{ with .Site.GetPage "learn"}}
      <a href="{{ "learn/" | relLangURL }}" class="navbar-item">{{ .Params.mobile_menu_title }}</a>
    {{ end }}
    {{ with .Site.GetPage "tools"}}
      <a href="{{ "tools/" | relLangURL }}" class="navbar-item">{{ .Params.mobile_menu_title }}</a>
    {{ end }}
    {{ with .Site.GetPage "news"}}
      <a href="{{ "news/" | relLangURL }}" class="navbar-item">{{ .Params.mobile_menu_title }}</a>
    {{ end }}
    <a href="https://github.com/ziglang/zig" class="navbar-item external-link external-link-light">{{ i18n "menu-source" }}</a>
    <a href="https://github.com/ziglang/zig/wiki/Community" class="navbar-item external-link external-link-light">{{ i18n "menu-community" }}</a>
    {{ with .Site.GetPage "zsf"}}
      <a href="{{ "zsf/" | relLangURL }}" class="navbar-item"><img src="/heart.svg" style="vertical-align:middle; margin-right: 5px">{{ .Params.mobile_menu_title }}</a>
    {{ end }}
  </div>
</nav>
<nav id="navbar" class="nav">
  <div class="container">
    {{ with .Site.GetPage "download"}}
      <a href="{{ "download/" | relLangURL }}" class="navbar-item">{{ .Params.menu_title }}</a>
    {{ end }}
    {{ with .Site.GetPage "learn"}}
      <a href="{{ "learn/" | relLangURL }}" class="navbar-item">{{ .Params.menu_title }}</a>
    {{ end }}
    {{ with .Site.GetPage "tools"}}
      <a href="{{ "tools/" | relLangURL }}" class="navbar-item">{{ .Params.menu_title }}</a>
    {{ end }}
    {{ with .Site.GetPage "news"}}
      <a href="{{ "news/" | relLangURL }}" class="navbar-item">{{ .Params.menu_title }}</a>
    {{ end }}
    <a href="https://github.com/ziglang/zig" class="navbar-item external-link external-link-light">{{ i18n "menu-source" }}</a>
    <a href="https://github.com/ziglang/zig/wiki/Community" class="navbar-item external-link external-link-light">{{ i18n "menu-community" }}</a>
    {{ with .Site.GetPage "zsf"}}
      <a href="{{ "zsf/" | relLangURL }}" class="navbar-item">
        <img src="{{ "heart.svg" | absURL }}" style="vertical-align:middle; margin-right: 5px">{{ .Params.menu_title }}
      </a>
    {{ end }}
  </div>
</nav>