<nav id="mobile-navbar" class="nav container">
    <span style="overflow:hidden; max-width: 80%; display: inline-block; vertical-align:bottom;">
        {{ .Params.mobile_menu_title }}
    </span>
    <label for="mobile-toggle" id="hamburger">
        <svg style="width:2em;height:2em;" viewBox="0 0 24 24">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
        </svg>
    </label>
</nav>
<div id="mobile-subnav">
    <input type="checkbox" name="mobile-toggle" id="mobile-toggle">
    <div class="" id="menu">
        <a href="{{ " #zig-format" | relLangURL }}" class="navbar-item">Zig Format</a>
        <a href="https://github.com/ziglang/gotta-go-fast/" class="navbar-item external-link external-link-light">Add
            Benchmarks</a>
        <a href="https://github.com/ziglang/www.ziglang.org"
            class="navbar-item external-link external-link-light">Submit Improvements</a>
        <a href="benchmarks.json" class="navbar-item external-link external-link-light">Metadata</a>
        <a href="records.csv" class="navbar-item external-link external-link-light">Data</a>
    </div>
</div>

<nav id="navbar" class="nav">
    <div class="container" style="display:flex; justify-content: space-between;">
        <div>
            <a href="https://github.com/ziglang/gotta-go-fast/"
                class="navbar-item external-link external-link-light">Add Benchmarks</a>
            <a href="https://github.com/ziglang/www.ziglang.org"
                class="navbar-item external-link external-link-light">Submit Improvements</a>
            <span>|</span>
            <a href="benchmarks.json" class="navbar-item external-link external-link-light">Metadata</a>
            <a href="records.csv" class="navbar-item external-link external-link-light">Data</a>
        </div>
    </div>
</nav>

<div class="nav-spacer"></div>