.alt-background {
  background-color: #efefef;
}

.button {
    background-color: none;
    border: 2px solid #F7A41D;
    color: #333;
    padding: 7px 12px;
    display: block;
    margin: 10px 0;
    font-size: 0.6em;
    font-weight: bolder;
    text-decoration: none;
}

.button:hover {
    background-color: #f7f7f7;
}

.main {
    background-color: #F7A41D;
    border: 2px solid #F7A41D;
    color: #111;
    padding: 10px 15px;
    font-size: 0.9em;
}
.button.main:hover {
    background-color: #f9b953;
    border: 2px solid #f9b953;
}

.slogan {
  text-shadow: 1px 1px 0 #ccc;
  font-size: 1.7em;
  color: #444;
}

.slogan strong {
	color: #333;
}
.slogan p {
  display: inline-block;
}

.nav {
	margin-bottom: 0 !important;
}

h1.section-title {
	font-size: 3em;
	color: #444;
	text-align: center;
}

@media (prefers-color-scheme:dark) {
  .alt-background {
    background-color: #292929;
  }

  h1.section-title {
    color: #ddd;
  }

  .button {
    color: inherit;
  }

  .button:hover {
      background-color: #404040;
  }
  .main {
    color: white;
  }

  .slogan {
    text-shadow: 1px 1px 0 black;
    color: #ddd;
  }

  .slogan strong {
    color: #eee;
  }
}