#header-image-performance {
    background-image: url(/zig-performance-logo-dark.svg);
    background-repeat: no-repeat;
    height: 90px;
    background-size: contain;
    display: block;
    padding: 0;
    margin: 0;
  }

div#content.perf>div.container {
    margin: 0 auto;
    position: relative;
    max-width: 1600px;
    padding: 0 1em;
}

div.benchmark {
    margin-top: 2em;
    margin-bottom: 2em;
}

span.benchmark-title>a {
    font-size: 2.0em;
    text-decoration: none;
    margin: 0.5em 0 0.5em;
    line-height: 1.2;
    font-weight: bold;
    color: #ccc;
}

span.benchmark-description {
    margin-left: 5px;
}
  
p.benchmark-source {
    margin-top: 0;
    font-size: small;
}

@media (prefers-color-scheme:dark) {
    #header-image-performance {
        background-image: url(/zig-performance-logo-light.svg);
        margin: 10px 0;
    }
}