#header-image-performance {
    background-image: url(/zig-performance-logo-dark.svg);
    background-repeat: no-repeat;
    height: 90px;
    background-size: contain;
    display: block;
    padding: 0;
    margin: 10px 0;
  }

div#content.perf>div.container {
    margin: 0 auto;
    position: relative;
    max-width: 1600px;
    padding: 0 1em;
}

div.benchmark {
    margin-top: 2em;
    margin-bottom: 2em;
}

span.benchmark-title>a {
    font-size: 2.0em;
    text-decoration: none;
    margin: 0.5em 0 0.5em;
    line-height: 1.2;
    font-weight: bold;
    color: #666;
}

span.benchmark-description {
    margin-left: 5px;
}
  
p.benchmark-source {
    margin-top: 0;
    font-size: small;
}

div.perf-settings {
    background-color: #ffffff55;
    position:  sticky;
    padding:  0px;
    margin:  0px;
    top:  10px;

    /* Fancy background blur */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: solid;
    border-width:  2px;
    border-radius: 6px;
    border-color:  #F7A41D;
}

div.perf-settings > div.content {
    padding-top:  10px;
    padding-bottom:  10px;
}

div.perf-settings> div > div {
    margin:  10px;
}

div.perf-settings > div.content > span {
    margin:  6px;
}

/* Tooltips */
div.tooltip {
    background-color: #fff;
    position:  fixed;
    opacity: 0;
    border: solid;
    border-width:  2px;
    border-radius: 2px;
    border-color:  #F7A41D;
    margin:  0;
    pointer-events: none;
}

td.good::before {
    content: '\25bc';
    color:  darkgreen;
}

td.bad::before {
    content: '\25b2';
    color:  darkred;
}
div.tooltip > div.contents {
    padding:  0px;
}

div.tooltip > div.title {
    margin:  0;
    padding:  4px 4px;
    background-color:  #F7A41D;
    color:  #111;
}


thead > tr > th {
    font-size: medium;
    text-align: center;

}

span.commit {
    display:  none;
    font-size: small;
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*div.tooltip > td {*/
 td {
    font-size:  small;
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
    text-align: right;
}

 td.measurement-title {
    font-size:  small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-align: right;
}

 td.measurement-value {
    font-size:  small;
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;
}

div.tooltip > p.commit > a {
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

div.tooltip > p.zig-version > span.zig-version {
    font-size:  small;
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

div.tooltip > p.measurement > span.measurement-value {
    font-size:  small;
    /*font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

div.tooltip > p.measurement > span.measurement-difference {
    font-size:  small;
    /*font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

div.tooltip > p.measurement > span.measurement-difference .negative {
    color:  darkred;
}

div.tooltip > p.measurement > span.measurement-difference .positive {
    color:  darkgreen;
}

/* Tooltip Benchmarks */
div.tooltip > div.records > table {
    font-size:  small;
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

div.tooltip > div.records > table tr td:nth-child(1) {
    text-align: right;
}

div.tooltip > div.records > table tr td:nth-child(2) {
    text-align: right;
}

div.tooltip > div.records > table tr td:nth-child(3) {
    text-align: right;
}

div.tooltip > div.records > table tr td:nth-child(4) {
    text-align: right;
}

/* Focus Indicators */
line.line.focus.y {
    stroke:  currentColor;
    stroke-width: 1px;
    fill: none;
}

circle.circle.focus {
    fill:  currentColor;
    stroke:  none;
}


path.line {
    stroke-width: 1px;
    fill: none;
}

path.line.min {
    stroke-opacity: 0.4;
}

path.line.max {
    stroke-opacity: 0.4;
}

path.line.primary {
    stroke-opacity: 1.0;
}

path.area.range {
    fill-opacity: 0.1;
}

path.area.range {
    stroke:  none;
}

/* CPU Cycles Colors */
.cpu_cycles {
    stroke:  #6e40aa;
    fill:  #6e40aa;
}

/* CPU Instructions Colors */
.instructions {
    stroke:  #c83dac;
    fill:  #c83dac;
}

/* Cache References Colors */
.cache_references {
    stroke:  #ff5375;
    fill:  #ff5375;
}

/* Cache Misses Colors */
.cache_misses {
    stroke:  #ff8c38;
    fill:  #ff8c38;
}

/* Wall Time Colors */
.wall_time {
    stroke:  #c9d33a;
    fill:  #c9d33a;
}

/* User-Space Time Colors */
.utime {
    stroke:  #79f659;
    fill:  #79f659;
}

/* Kernel Time Colors */
.stime {
    stroke:  #28ea8d;
    fill:  #28ea8d;
}

/* Branch Misses Colors */
.branch_misses {
    stroke:  #1eb8d0;
    fill:  #1eb8d0;
}

/* Max RSS Colors */
.maxrss {
    stroke:  #4775de;
    fill:  #4775de;
}

text.axis.y.title {
    stroke:  none;
    fill:  currentColor;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-anchor: middle;
    font-size: small;
}

text.axis.y {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-anchor: middle;
    font-size: 144px;
}

g.tick>line {
    stroke: currentColor;
}

g.tick>text {
    stroke:  none;
    fill: currentColor;
}
g.axis.x>g.tick>text {
/*    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
*/    font-variant-numeric: lining-nums;
}

g.axis.y>g.tick>text {
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

g.axis.y>path.domain {
    stroke: currentColor;
    fill:  none;
}

g.axis.x>path.domain {
    stroke: currentColor;
    fill:  none;
}

@media (prefers-color-scheme:dark) {
    #header-image-performance {
        background-image: url(/zig-performance-logo-light.svg);
    }

    span.benchmark-title>a {
        color: #ccc;
    }

    div.tooltip {
        background-color: #111;
        color: #bbb;
    }

    div.perf-settings {
        background-color: #11111155;
        color: #bbb;
    }
}
