#header-image-performance {
    background-image: url(/zig-performance-logo-dark.svg);
    background-repeat: no-repeat;
    height: 90px;
    background-size: contain;
    display: block;
    padding: 0;
    margin: 10px 0;
  }

div#content.perf>div.container {
    margin: 0 auto;
    position: relative;
    max-width: 1600px;
    padding: 0 1em;
}

div.benchmark {
    margin-top: 2em;
    margin-bottom: 2em;
}

span.benchmark-title>a {
    font-size: 2.0em;
    text-decoration: none;
    margin: 0.5em 0 0.5em;
    line-height: 1.2;
    font-weight: bold;
    color: #666;
}

span.benchmark-description {
    margin-left: 5px;
}
  
p.benchmark-source {
    margin-top: 0;
    font-size: small;
}

/* Tooltips */
div.tooltip {
    background-color: #fff;
    position:  fixed;
    opacity: 0;
    border: solid;
    border-width:  2px;
    border-radius: 2px;
    border-color:  #F7A41D;
    margin:  0;
}

td.good::before {
    content: '\25bc';
    color:  darkgreen;
}

td.bad::before {
    content: '\25b2';
    color:  darkred;
}
div.tooltip > div.contents {
    padding:  0px;
}

div.tooltip > div.title {
    margin:  0;
    padding:  4px 4px;
    background-color:  #F7A41D;
    color:  #111;
}


thead > tr > th {
    font-size: medium;
    text-align: center;

}

span.commit {
    display:  none;
    font-size: small;
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*div.tooltip > td {*/
 td {
    font-size:  small;
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
    text-align: right;
}

 td.measurement-title {
    font-size:  small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-align: right;
}

 td.measurement-value {
    font-size:  small;
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;
}

div.tooltip > p.commit > a {
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

div.tooltip > p.zig-version > span.zig-version {
    font-size:  small;
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

div.tooltip > p.measurement > span.measurement-value {
    font-size:  small;
    /*font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

div.tooltip > p.measurement > span.measurement-difference {
    font-size:  small;
    /*font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

div.tooltip > p.measurement > span.measurement-difference .negative {
    color:  darkred;
}

div.tooltip > p.measurement > span.measurement-difference .positive {
    color:  darkgreen;
}

/* Tooltip Benchmarks */
div.tooltip > div.records > table {
    font-size:  small;
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

div.tooltip > div.records > table tr td:nth-child(1) {
    text-align: right;
}

div.tooltip > div.records > table tr td:nth-child(2) {
    text-align: right;
}

div.tooltip > div.records > table tr td:nth-child(3) {
    text-align: right;
}

div.tooltip > div.records > table tr td:nth-child(4) {
    text-align: right;
}

/* Focus Indicators */
line.line.focus.y {
    stroke:  currentColor;
    /*stroke:  #F7A41D55;*/
    stroke-width: 1px;
    fill: none;
    mix-blend-mode: color-dodge;
}

circle.circle.focus {
    /*fill:  #F7A41D55;*/
    fill:  currentColor;
    /*stroke:  currentColor;*/
    /*stroke:  #F7A41D55;*/
    /*stroke-width: 1px;*/
}

/* D3 Charts */
path.line {
    stroke:  #F7A41D;
    stroke-width: 1px;
    fill: none;
}

path.line.min {
    stroke-opacity: 0.4;
}

path.line.max {
    stroke-opacity: 0.4;
}

path.line.primary {
    stroke-opacity: 1.0;
}

path.area.range {
    fill: #F7A41D;
    fill-opacity: 0.1;
}

text.axis.y.title {
    /*fill:  #F7A41D;*/
    fill:  currentColor;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-anchor: middle;
    font-size: small;
}

text.axis.y {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-anchor: middle;
    font-size: 144px;
}

g.tick>line {
    /*stroke: #F7A41D;*/
    stroke: currentColor;
}

g.tick>text {
    fill: currentColor;
}
g.axis.x>g.tick>text {
/*    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
*/    font-variant-numeric: lining-nums;
}

g.axis.y>g.tick>text {
    font-family: ui-monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: slashed-zero;
    font-variant-numeric: lining-nums;
}

g.axis.y>path.domain {
    /*stroke: #F7A41D;*/
    fill:  none;
    stroke: currentColor;
}

g.axis.x>path.domain {
    /*stroke: #F7A41D;*/
    stroke: currentColor;
    fill:  none;
}

/*.cpu_cycles > svg, path, area {
    stroke: red;
    fill:  red;
}
*/
/*
svg.cpu_cycles > path.area {
    stroke: red;
    fill:  red;

}*/

@media (prefers-color-scheme:dark) {
    #header-image-performance {
        background-image: url(/zig-performance-logo-light.svg);
    }

    span.benchmark-title>a {
        color: #ccc;
    }

    div.tooltip {
        background-color: #111;
        color: #bbb;
    }
}
