@media only screen and (max-width:600px) {
  .no-mobile {
    display: none;
  }
}

body {
  font-family: system-ui, -apple-system, Roboto, "Segoe UI", sans-serif;
  line-height: 1.45;
  margin-left: 0;
  margin-right: 0;
}

p {
  margin: 0.8em 0;
}

h1, h2, h3, h4 {
  margin: 0.5em 0 0.5em;
  line-height: 1.2;
  font-weight: bold;
  color: #666;
}

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none;
  color: #666;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.0em;
}

a.hdr {
  visibility: hidden;
}

h1:hover > a.hdr, h2:hover > a.hdr, h3:hover > a.hdr, h4:hover > a.hdr, h5:hover > a.hdr {
  visibility: visible;
}

a {
  color: #2A6286;
}

.external-link:after {
    background-image: url(/external-link-light.svg);
    background-size: 10px 10px;
    display: inline-block;
    width: 10px; 
    height: 10px;
    content:"";
    margin-left: 5px;
}

a:not(:hover) {
  text-decoration: none;
}

th, td {
  padding: 0.6em;
  text-align: left;
}

td {
  font-size: 0.96em;
}

th {
  border-bottom: 2px solid #f2f3f3;
}

tr:nth-child(even) {
  background: #f2f3f3;
}

.parent-link {
  margin-bottom: 1em !important;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  padding: 0 0.2em;
}


.t0_1, .t37, .t37_1 {
  font-weight: bold;
}

.t2_0 {
  color: grey;
}

.t31_1 {
  color: red;
}

.t32_1 {
  color: green;
}

.t36_1 {
  color: #0086b3;
}

.file {
  text-decoration: underline;
}

pre, code {
  font-size: 12pt;
}

pre > code {
  display: block;
  overflow: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.code {
  font-family: monospace;
  font-size: 0.8em;
}

.tok-kw {
  color: #333;
  font-weight: bold;
}

.tok-str {
  color: #d14;
}

.tok-builtin {
  color: #0086b3;
}

.tok-comment {
  color: #777;
  font-style: italic;
}

.tok-fn {
  color: #900;
  font-weight: bold;
}

.tok-null {
  color: #008080;
}

.tok-number {
  color: #008080;
}

.tok-type {
  color: #458;
  font-weight: bold;
}

.sponsor {
  width: 200px;
  text-align: center;
  float: left;
  padding: 0 2em 0 0;
}

.sponsor a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
}

#header-image {
  background-image: url(/zig-logo-dark.svg);
  background-repeat: no-repeat;
  width: 340px;
  height: 90px;
  display: block;
  padding: 0;
  margin: 0;
}

h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja) {
  margin: 0.7em 0 0.7em;
  font-feature-settings: 'palt';
}

.box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
}

@media (prefers-color-scheme:dark) {
  body {
    background-color: #111;
    color: #bbb;
  }

  .box {
    border-color: white;
  }

  a {
    color: #88f;
  }

  .external-link:after {
      background-image: url(/external-link-dark.svg);
  }
  .sponsor a {
    color: #ffffff;
  }

  table, th, td {
    border-color: grey;
  }

  tr:nth-child(even) {
    background: #1e1e1e;
  }

  .t2_0 {
    color: grey;
  }

  .t31_1 {
    color: red;
  }

  .t32_1 {
    color: green;
  }

  .t36_1 {
    color: #0086b3;
  }

  pre > code {
    color: #ccc;
    background: #1e1e1e;
  }

  .tok-kw {
    color: #eee;
  }

  .tok-str {
    color: #2e5;
  }

  .tok-builtin {
    color: #ff894c;
  }

  .tok-comment {
    color: #aa7;
  }

  .tok-fn {
    color: #e33;
  }

  .tok-null {
    color: #ff8080;
  }

  .tok-number {
    color: #ff8080;
  }

  .tok-type {
    color: #68f;
  }

  h1, h2, h3, h4, h5 {
    color: #ccc;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #ccc;
  }
  
  strong {
    color: #eee;
  }

  #header-image {
    background-image: url(/zig-logo-light.svg);
  }

}



/*New Stuff*/

@media only screen and (max-width: 600px) {
  table {
    display: block;
    overflow: auto;
  }

  body {
    padding: 1rem;
  }

  ul {
    padding-left: 1em;
  }
}


