{{$lang := .Lang}}
{{ if isset .Params "lang" }}
{{$lang = .Params.lang}}
{{end}}
<!DOCTYPE html>
<html lang="{{$lang}}">

<head>
    <meta charset="utf-8">
    <title>
        {{ block "title" . }}
        {{ end }}
        {{ .Site.Title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">

    {{ $style := resources.Get "css/style.css" }}
    <link type="text/css" rel="stylesheet" href="{{ $style.Permalink }}">

    {{ $nav := resources.Get "css/navigation.css" | toCSS | minify | fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $nav.Permalink }}">

    {{ $perfCSS := resources.Get "css/perf.css" | toCSS | minify | fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $perfCSS.Permalink }}">


    {{ block "links" . }} {{ end }}
</head>

<body>
    <div class="container">
        <a href="{{ "" | relLangURL }}"><span id="header-image-performance"></span></a>
    </div>
    {{- partial "perf-navigation.html" . -}}
    <div id="content" class="perf" role="main">
        {{- block "main" . }}{{- end }}
    </div>

    {{ $nav:= resources.Get "css/navigation.css" | toCSS | minify | fingerprint }}
    <link type="text/javascript" rel="stylesheet" href="{{ $nav.Permalink }}">
</body>

</html>