.alt-background {
  background-color: #efefef;
}

.button {
  background-color: none;
  border: 2px solid #737475;
  color: #333;
  padding: 7px 12px;
  display: block;
  margin: 10px 0;
  font-size: 0.6em;
  font-weight: 700;
  text-decoration: none;
}

.button:hover {
  background-color: #d3d3d3;
}

.main {
  background-color: #737475;
  /*border: 2px solid #F7A41D;*/
  color: #fff;
  padding: 10px 15px;
  font-size: 0.9em;
}

.button.main:hover {
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}

.slogan {
  /*text-shadow: 1px 1px 0 #ccc;*/
  font-size: 1.7em;
  color: #444;
}

.slogan strong {
  color: #333;
}

.slogan p {
  display: inline-block;
  margin: 0;
}

.slogan-message {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slogan-separator {
  display: flex;
  flex-direction: row;
}

.slogan-separator:before,
.slogan-separator:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto;
}

.slogan-separator:before {
  margin-right: 10px;
  border-color: #bbb;
}

.slogan-separator:after {
  margin-left: 10px;
  border-color: #bbb;
}

.features h2 {
  font-size: 2.0em;
}

.features h2:first-of-type {
  margin-top: 0;
}

.nav-spacer {
  display: none;
}

.section-title>h1 {
  font-size: 3em;
  color: #444;
  text-align: center;
}

.community-message {
  width: 75%;
}

.main-development-message {
  width: 60%;
}

.codesample {
  overflow-x: auto;
  margin-top: 13px;
  margin-left: 20px;
}


/*.features h1 {
  display: list-item;
  list-style-type: '⚡ ';
  list-style-position: outside;
  margin-left: 1em;
}*/

/*.features > h1::marker {
  content: '⚡ ';
}*/

.title-box:before {
  content: '⚡ ';
}

.cta-buttons {
  text-align: center;
  margin-left: 20px;
  flex-shrink: 0;
}

.features {
  max-width: 480px;
}

@media (prefers-color-scheme:dark) {
  .alt-background {
    background-color: #292929;
  }

  h1.section-title {
    color: #ddd;
  }

  .button {
    color: inherit;
  }

  .button:hover {
    background-color: #383838;
  }

  .slogan {
    /*text-shadow: 1px 1px 0 black;*/
    color: #ddd;
  }

  .slogan strong {
    color: #eee;
  }
}

@media only screen and (max-width: 1000px) {
  .slogan-message {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .community-message,
  .main-development-message {
    width: 100%;
  }

  .codesample {
    margin-left: 0;
    margin-top: 20px;
  }

  .cta-buttons {
    margin-left: 0;
  }

  .features {
    max-width: none;
    margin: auto;
  }

  /*
  pre {
    max-width: 100vw;
    margin-left: -20px;
    margin-right: -20px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top: -10px;
    margin-bottom: -10px;
  }

  pre > code {
    margin: 10px 20px;
    box-sizing: border-box;
    display: inline-block;
    width: max-content;
    min-width: calc(100% - 40px);
  }
*/

  html,
  body {
    overflow-x: hidden;
  }

  body {
    -webkit-text-size-adjust: none;
  }
}


.monetary-logos {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 50px;
  justify-content: center;
  align-items: center;

}

.monetary-logos img {
  object-fit: contain;
}

.monetary-logos img {
  max-width: 320px;
  max-height: 320px;
}

.monetary-logos .span2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.monetary-logos .span2 img {
  max-width: 580px;
  max-width: 580px;
}

.monetary-logos picture {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .monetary-logos {
    display: flex;
    flex-direction: column;
  }

  .monetary-logos img {
    max-width: 100%;
    height: 50px;
  }

  .silares img {
    height: 75px;
  }

  .monetary-logos .span2 img {
    max-width: 100%;
  }
}