#mobile-navbar {
  display: none;
  overflow: hidden;
  color: #ddd !important;
}
#mobile-subnav {
  background-color: #535455;
}

#mobile-subnav {
  display: none;
}

#menu {
  padding: 5px 0;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1.1rem !important;
}

#navbar {
  display: block;
}

.nav {
  background-color: #737475;
  padding: 5px 0;
  border-top: 4px solid #f7a41d;
}

.nav-spacer {
  margin-bottom: 30px;
}

#menu .navbar-item,
.nav .navbar-item,
.nav .navbar-item:visited {
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}

@media only screen and (max-width: 340px) {
  #mobile-navbar {
    font-size: 1.1rem !important;
  }
  #hamburger {
    padding-left: 0.5rem !important;
  }
}

@media only screen and (max-width: 1000px) {
  #menu .navbar-item {
    display: block;
  }

  #mobile-subnav {
    display: block;
  }

  #mobile-toggle + #menu {
    display: none;
  }

  #mobile-toggle:checked + #menu {
    display: block;
  }

  #mobile-navbar,
  #menu {
    display: block;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  #mobile-navbar {
    margin-top: 0.4rem;
  }

  #navbar {
    display: none;
  }

  #mobile-toggle {
    display: none;
  }
  #hamburger {
    float: right;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    line-height: 0;
  }
}

#languages-menu {
  padding: 5px;
}

#languages-menu a {
  padding: 5px;
}
