{{ $place := .Get 0 }}
{{ range (index $.Site.Data.communities $place) }}
    {{ $non_english_languages := where .languages ".name" "not in" (slice "English") }}
    <div class="community">
        <a class="name" href="{{.url}}" style="color: #88f; text-decoration: revert;"><h3>{{.name}}</h3></a>
        <em class="description">{{.description}}</em>
        {{ with $non_english_languages }}
            <ul>
                <li>{{ $non_english_languages }}</li>
            </ul>
        {{end}}
        <span class="people">
            by
            {{ range .people }}
                <a href="{{.url}}">{{.name}}</a>
            {{ end }}
        </span>
    </div>
{{ end }}
