{{ $place := .Get 0 }}
<div class="section">
{{ range $.Site.Data.communities }}
    {{ if isset .places $place }}
        <div class="community" id="{{ (delimit (slice .name $place) "-") | urlize }}">
            
            <div class="community-header">
                <h2>{{.name}}</h2>
                <span class="owner">
                    {{ range $i, $l := .languages }}
                        {{ if $i }} • {{ end }}
                        {{$l}}
                    {{ end }}
                    •
                    {{ if eq (len .owners) 1 }} Owner: {{ else }} Owners: {{ end }}
                    {{ range $i, $o := .owners }}
                        {{ if $i }}  {{ end }}
                        <a href="{{$o.url}}" class="external-link">{{$o.name}}</a>
                    {{ end }}
                </span>
                <br>
                <span class="links">
                {{ if ne 0 (len .links) }}
                   Links:
                    {{ range $i, $l := .links }}
                     {{ if $i }} • {{ end }}
                         <a href="{{ $l.url }}" class ="external-link">{{ $l.title }}</a>
                    {{ end }}
                {{ end }}
                </span>
            </div>


            <div class="community-place-description">
                {{ (index .places $place).description }}
            </div>

            <div class="community-place-extra">
            {{ if eq $place "irc" }}
                {{ $irc := index .places "irc" }}
                {{ range $i, $l := $irc.links }}
                 {{ if $i }} • {{ end }}
                 <a href="{{ $l.url }}" class ="external-link">{{ $l.title }}</a>
                {{ end }}
            {{ end }}

            {{ if eq $place "discord" }}
                {{ $discord := index .places "discord" }}
                {{ if gt (len $discord.moderators) 0}}
                <p>
                    {{ if eq (len $discord.moderators) 1}}
                        Moderator:
                    {{ else }}
                        Moderators:
                    {{ end }}
                {{ range $i, $l := $discord.moderators }}
                    {{ if $i }} • {{ end }}
                    <a href="{{ $l.url }}" class ="external-link">{{ $l.name }}</a>
                {{ end }}
                </p>
                {{ end }}
                <a href="{{ $discord.invite }}" class ="external-link">
                    Discord Invite
                </a>

            {{ end }}

            {{ if eq $place "telegram" }}
                {{ $telegram := index .places "telegram" }}
                {{ if gt (len $telegram.moderators) 0}}
                <p>
                    {{ if eq (len $telegram.moderators) 1}}
                        Moderator:
                    {{ else }}
                        Moderators:
                    {{ end }}
                {{ range $i, $l := $telegram.moderators }}
                    {{ if $i }} • {{ end }}
                    <a href="{{ $l.url }}" class ="external-link">{{ $l.name }}</a>
                {{ end }}
                </p>
                {{ end }}
                <a href="{{ $telegram.invite }}" class ="external-link">Join</a>
            {{ end }}

            {{ if eq $place "matrix" }}
                {{ $matrix := index .places "matrix" }}
                {{ if gt (len $matrix.moderators) 0}}
                <p>
                    {{ if eq (len $matrix.moderators) 1}}
                        Moderator:
                    {{ else }}
                        Moderators:
                    {{ end }}
                {{ range $i, $l := $matrix.moderators }}
                    {{ if $i }} • {{ end }}
                    <a href="{{ $l.url }}" class ="external-link">{{ $l.name }}</a>
                {{ end }}
                </p>
                {{ end }}
                <a href="{{ $matrix.invite }}" class ="external-link">Join</a>
            {{ end }}

            {{ if eq $place "email_list" }}
                {{ $email_list := index .places "email_list" }}
                {{ if gt (len $email_list.moderators) 0}}
                <p>
                    {{ if eq (len $email_list.moderators) 1}}
                        Moderator:
                    {{ else }}
                        Moderators:
                    {{ end }}
                {{ range $i, $l := $email_list.moderators }}
                    {{ if $i }} • {{ end }}
                    <a href="{{ $l.url }}" class ="external-link">{{ $l.name }}</a>
                {{ end }}
                </p>
                {{ end }}
                {{ range $i, $l := $email_list.links }}
                 {{ if $i }} • {{ end }}
                 <a href="{{ $l.url }}" class ="external-link">{{ $l.title }}</a>
                {{ end }}
            {{ end }}

            {{ if eq $place "reddit" }}
                {{ $reddit := index .places "reddit" }}
                {{ if gt (len $reddit.moderators) 0}}
                <p>
                    {{ if eq (len $reddit.moderators) 1}}
                        Moderator:
                    {{ else }}
                        Moderators:
                    {{ end }}
                    {{ range $i, $l := $reddit.moderators }}
                        {{ if $i }} • {{ end }}
                        <a href="{{ $l.url }}" class ="external-link">{{ $l.name }}</a>
                    {{ end }}
                </p>
                {{ end }}
                <a href="https://old.reddit.com/{{ $reddit.subreddit }}/about/rules" class ="external-link">Rules</a>
                 <a href="https://old.reddit.com/{{ $reddit.subreddit }}" class ="external-link">{{$reddit.subreddit}}</a>
            {{ end }}


            {{ if eq $place "forum" }}
                {{ $forum := index .places "forum" }}
                {{ if gt (len $forum.moderators) 0}}
                <p>
                    {{ if eq (len $forum.moderators) 1}}
                        Moderator:
                    {{ else }}
                        Moderators:
                    {{ end }}
                    {{ range $i, $l := $forum.moderators }}
                        {{ if $i }} • {{ end }}
                        <a href="{{ $l.url }}" class ="external-link">{{ $l.name }}</a>
                    {{ end }}
                </p>
                {{ end }}
                 <a href="{{ $forum.url }}" class ="external-link">Forum Home</a>
            {{ end }}


            {{ if eq $place "newsletter" }}
                {{ $newsletter := index .places "newsletter" }}
                {{ range $i, $l := $newsletter.links }}
                 {{ if $i }} • {{ end }}
                 <a href="{{ $l.url }}" class ="external-link">{{ $l.title }}</a>
                {{ end }}
            {{ end }}

            {{ if eq $place "multimedia" }}
                {{ $multimedia := index .places "multimedia" }}
                {{ range $i, $l := $multimedia.links }}
                 {{ if $i }} • {{ end }}
                 <a href="{{ $l.url }}" class ="external-link">{{ $l.title }}</a>
                {{ end }}
            {{ end }}

            
            {{ if eq $place "merchandise" }}
                {{ $merchandise := index .places "merchandise" }}

                {{ if gt $merchandise.supports_zsf 0 }}
                <p><i>
                    This shop supports the Zig Software Foundation ({{$merchandise.supports_zsf}}% of profits goes to ZSF).
                </i></p>
                {{ end }}


                {{ range $i, $l := $merchandise.links }}
                 {{ if $i }} • {{ end }}
                 <a href="{{ $l.url }}" class ="external-link">{{ $l.title }}</a>
                {{ end }}
            {{ end }}

            {{ if eq $place "learning" }}
                {{ $learning := index .places "learning" }}

                {{ range $i, $l := $learning.links }}
                 {{ if $i }} • {{ end }}
                 <a href="{{ $l.url }}" class ="external-link">{{ $l.title }}</a>
                {{ end }}
            {{ end }}

            {{ if eq $place "miscellaneous" }}
                {{ $miscellaneous := index .places "miscellaneous" }}

                {{ range $i, $l := $miscellaneous.links }}
                 {{ if $i }} • {{ end }}
                 <a href="{{ $l.url }}" class ="external-link">{{ $l.title }}</a>
                {{ end }}
            {{ end }}
            </div>

            {{ if gt (len .places) 1 }}
            <div class="community-references">
                More from this community:

                {{ $name := .name }}
                {{ range $k, $v := .places }}
                    {{ if ne $k $place }}
                    <a href="#{{ (delimit (slice $name $k) "-") | urlize }}">
                        {{ if eq $k "irc"}} IRC {{ end }}
                        {{ if eq $k "discord"}} Discord {{ end }}
                        {{ if eq $k "mailing_list"}} Mailing List {{ end }}
                        {{ if eq $k "newsletter"}} Newsletter {{ end }}
                        {{ if eq $k "multimedia"}} Multimedia {{ end }}
                    </a>
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
</div>

