{{ $master := index $.Site.Data.releases "master" }}
<h3>Unstable (master)</h3>
<ul>
<li>{{ i18n "download-documentation" (index $master "docs") | safeHTML }}</li>
{{ if isset $master "stdDocs"}}
<li>{{ i18n "download-stdlib-docs" (index $master "stdDocs") | safeHTML }}</li>
{{ end }}
</ul>
{{ $release_tag := index $.Site.Params.downloads_release_order 1 }}


{{ $release := index $.Site.Data.releases $release_tag }}
<h3>Latest Stable ({{ $release_tag }})</h3>
<ul>
<li>{{ i18n "download-documentation" (index $release "docs") | safeHTML }}</li>
{{ if isset $release "stdDocs"}}
<li>{{ i18n "download-stdlib-docs" (index $release "stdDocs") | safeHTML }}</li>
{{ end }}
</ul>