<div class="slogan alt-background">
    <div class="container" style="display:flex; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: space-between;">
        <div style="max-width: 750px; margin: 10px 0;">
            {{ .Inner | markdownify }}
        </div>
        <div style="text-align:center; margin: 10px 0;">
             <a href="{{"learn/" |relLangURL }}" class="button main">{{ .Get "get_started" }}</a>
             <a href="" class="button">{{ .Get "docs" }}</a>
        </div>
    </div>
</div>