<style type="text/css">
    .button {
        background-color: none;
        border: 2px solid #F7A41D;
        color: inherit;
        padding: 7px 12px;
        display: block;
        margin: 10px 0;
        font-size: 0.6em;
        font-weight: bolder;
        text-decoration: none;
    }

    .button:hover {
        background-color: #404040;
    }

    .main {
        background-color: #F7A41D;
        border: 2px solid #F7A41D;
        color: white;
        padding: 10px 15px;
        font-size: 0.9em;
    }
    .button.main:hover {
        background-color: #f9b953;
        border: 2px solid #f9b953;
    }

    .slogan {
        text-shadow: 1px 1px 0 black;
    }
</style>
<div class="slogan alt-background">
    <div class="container" style="display:flex; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: space-between;">
        <div style="max-width: 750px; margin: 10px 0;">
            {{ .Inner | markdownify }}
        </div>
        <div style="text-align:center; margin: 10px 0;">
             <a href="{{"learn/" |relLangURL }}" class="button main">{{ .Get "get_started" }}</a>
             <a href="" class="button">{{ .Get "docs" }}</a>
        </div>
    </div>
</div>