<div class="slogan alt-background">
    <div class="container slogan-message">
        <div style="max-width: 790px; margin: 10px 0;padding: 0 5px;">
            {{ .Inner | markdownify }}
        </div>
        <div style="text-align:center; margin: 10px 0; flex-shrink: 0;">
             <a href="{{"learn/" |relLangURL }}" class="button main" style="margin-bottom: 0;">{{ .Get "get_started" }}</a>
             <div style="display:flex; flex-direction: row;">
                 <a href="" class="button" style="flex-grow: 1;">{{ .Get "docs" }}</a>
                 <a href="" class="button" style="margin-left:5px;">0.7.0</a>
             </div>
        </div>
    </div>
</div>