name: Build Tarballs
on:
  schedule:
    - cron: '0 */10 * * *'
  workflow_dispatch:
    inputs:
      zig_commit:
        description: "zig commit to build"
        required: true
        type: string
        default: ""
      zig_release:
        description: "is this a release?"
        required: true
        type: bool
        default: false
      zig_bootstrap_branch:
        description: "zig-bootstrap branch to checkout"
        required: true
        type: string
        default: "master"
concurrency:
  group: tarball
jobs:
  create_tarballs:
    timeout-minutes: 680
    outputs:
      skipped: ${{ steps.build.outputs.skipped }}
    runs-on: [self-hosted, tarballs, x86_64]
    env: 
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ZIG_COMMIT: ${{ inputs.zig_commit }}
      ZIG_RELEASE: ${{ inputs.zig_release }}
      ZIG_BOOTSTRAP_BRANCH: ${{ inputs.zig_bootstrap_branch }}
      PATH: "/home/ci/local/bin/:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Build Tarballs
        id: build
        run: nice -10 /home/ci/deps/zig-linux-x86_64-0.14.0/zig run ./.github/workflows/build-commit.zig -- /var/www/html ./.github/workflows/index.json
