name: Deploy Website

on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: true
  push:
    branches:
      - main
concurrency:
  group: website
jobs:
  build:
    name: Build
    runs-on: [self-hosted, website]
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          ref: "${{ inputs.ref }}"
          clean: false

      - name: Build the website
        run: |
          cp /var/www/html/download/index.json assets/download/index.json
          /home/ci/deps/zig-linux-x86_64-0.14.0/zig build --summary new -p /var/www/html/
