      #mobile-navbar {
        display: none;
        overflow: hidden;
      }

      #navbar {
        display: block;
      }

      @media only screen and (max-width:600px) {
        #menu .navbar-item {
          display: block;
        }

        #mobile-toggle + #menu {
          display: none;
        }

        #mobile-toggle:checked + #menu {
          display: block;
        }

        #mobile-navbar {
          display: block;
          margin-top: 0.4rem;
          font-size: 1.2rem;
          line-height: 2.2rem;
        }

        #navbar {
          display: none;
        }

        #mobile-toggle {
          display: none;
        }
        #hamburger {
          float: right;
          padding-left: 1.5rem;
          padding-right: 0.5rem;
          line-height: 0;
        }
      }