@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(source-sans-pro.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 100%;
  padding-top: 60px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.45;
  margin: 0;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  font-weight: bold;
  color: #737475;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 { font-size: 2.369em; }

h3 { font-size: 1.777em; }

h4 { font-size: 1.333em; }

a {
  color: #528cb3;
}

footer {
  text-align: center;
  background-color: #efefef;
  margin-top: 50px;
}

th, td {
  padding: 0.8em;
  text-align: left;
}

th {
  border-bottom: 2px solid #f2f3f3;
}

tr:nth-child(even) {
  background: #f2f3f3;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  padding: 10px;
}

.hero {
  font-size: 1.777em;
  background-color: #efefef;
}

#navbar {
  background-color: #737475;
  padding: 5px;
  border-top: 4px solid #f7a41d;
  margin-bottom: 40px;
  z-index: 1;
}

#navbar #navbar-content {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
}

#navbar .navbar-item, #navbar .navbar-item:visited {
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none;
}

#navbar .navbar-item:hover {
  text-decoration: underline;
}

.code {
  font-family: monospace;
  font-size: 0.8em;
}
