{{ define "title" }}
  {{ .Title }} ⚡ 
{{ end }}

{{ define "links" }}
	{{ $style := resources.Get "css/home.css" | toCSS | minify | fingerprint }}
	<link type="text/css" rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
{{ .Content }}

<div class="container parent-link" style="display:flex; flex-direction: row; justify-content: space-around; margin-top: 20px;">
	{{ if ne .Lang "en"}}
		{{ range where .Translations "Language.Lang" "en"}}
			<span>{{ i18n "back-to-original" .Permalink | safeHTML }}</span>
		{{ end }}
	{{ end }}
</div>
{{ end }}

