{{ define "title" }}
  {{ .Title }} ⚡ 
{{ end }}

{{ define "links" }}
	{{ $style := resources.Get "css/home.css" | toCSS | minify | fingerprint }}
	<link type="text/css" rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
{{ .Content }}

<div class="container parent-link" style="display:flex; flex-direction: row; justify-content: space-around; margin-top: 20px;">
		{{ if ne .Lang "en"}}
			{{ range where .Translations "Language.Lang" "en"}}
			<span>Diese Seite wurde von der Zig-Community übersetzt. 
 				<a href="{{ .Permalink }}" class="no-mobile">Sehen Sie sich die Originalversion an</a> 
				oder
				<a href="https://github.com/ziglang/www.ziglang.org/" class="external-link no-mobile" target="_blank" rel="noopener">melden Sie Fehler</a>.
			</span>
			{{ end }}
		{{ end }}
</div>
{{ end }}

